APScheduler==3.9.1
certifi==2022.6.15
charset-normalizer==2.1.0
click==7.1.2
idna==3.3
numpy==1.23.1
pandas==1.4.3
psycopg2==2.9.3
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
requests==2.28.1
six==1.16.0
spark-parser==1.8.9
tzdata==2022.1
tzlocal==4.2
uncompyle6==3.7.4
urllib3==1.26.10
xdis==5.0.5
